
.svgTile {
  background: bisque url('./images/light.jpg');
  background-size: 100%;
  margin: 5%;

  &.dark {
    background: tan url('./images/dark.jpg');
    &.rotateDark {
      transform: rotate(180deg);
    }
  }
  .title-container {
    font-weight: 400;
    font-family: 'Yanone Kaffeesatz', Tahoma, sans-serif;
    text-align: center
  }
}