.tile {
  min-height: 100px;
  overflow: hidden;
  margin: 4px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 200%;
  &.backside {
    background-position: top right;
  }
  &.bowman { 
    background-image: url('./images/Bowman.png');
    &.dark {
      transform: rotate(180deg);
      background-image: url('./images/DarkBowman.png');
    }
  }
  &.champion { 
    background-image: url('./images/Champion.png');
    &.dark {
      background-image: url('./images/DarkChampion.png');
    }
  }
  &.dragoon { 
    background-image: url('./images/Dragoon.png');
    &.dark {
      background-image: url('./images/DarkDragoon.png');
    }
  }
  &.duchess { 
    background-image: url('./images/Duchess.png');
    &.dark {
      background-image: url('./images/DarkDuchess.png');
    }
  }
  &.duke {
    background-image: url('./images/Duke.png');
    &.dark {
      background-image: url('./images/DarkDuke.png');
    }
  }
  &.footman { 
    background-image: url('./images/Footman.png');
    &.dark {
      background-image: url('./images/DarkFootman.png');
    }
  }
  &.general { 
    background-image: url('./images/General.png');
    &.dark {
      background-image: url('./images/DarkGeneral.png');
    }
  }
  &.knight { 
    background-image: url('./images/Knight.png');
    &.dark {
      background-image: url('./images/DarkKnight.png');
    }
  }
  &.marshall { 
    background-image: url('./images/Marshall.png');
    &.dark {
      background-image: url('./images/DarkMarshall.png');
    }
  }
  &.oracle { 
    background-image: url('./images/Oracle.png');
    &.dark {
      background-image: url('./images/DarkOracle.png');
    }
  }
  &.pikeman { 
    background-image: url('./images/Pikeman.png');
    &.dark {
      background-image: url('./images/DarkPikeman.png');
    }
  }
  &.priest { 
    background-image: url('./images/Priest.png');
    &.dark {
      background-image: url('./images/DarkPriest.png');
    }
  }
  &.ranger { 
    background-image: url('./images/Ranger.png');
    &.dark {
      background-image: url('./images/DarkRanger.png');
    }
  }
  &.seer { 
    background-image: url('./images/Seer.png');
    &.dark {
      background-image: url('./images/DarkSeer.png');
    }
  }
  &.wizard { 
    background-image: url('./images/Wizard.png');    &.dark {
      background-image: url('./images/DarkWizard.png');
    }
  }
}